@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

:root {
    --black: #424242;
    --white: #FFF;

    --background: #F1FAFF;

    --primary: #F46918;
    --primary-light: #FF9A60;
    --secundary: #0073D9;

    --gray: #F4F4F4;
    --gray-dark: #808080;

    --degrade: linear-gradient(276.05deg, #F46918 37.74%, #FF9A60 80.08%);

    --shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

body {
    width: 100vw;
    min-height: 100vh;

    font-family: 'Roboto', sans-serif;

    color: var(--black);

    background: var(--background);

    display: flex;
    justify-content: center;

    overflow-x: hidden;
}

.box {
    max-width: 1311px;
    width: 100%;
}

button, a, input[type="submit"] {
    cursor: pointer !important;
}

a {
    text-decoration: none !important;
}

.logo {
    height: 106px;
}

.campo {
    font-size: 24px;

    background: var(--gray);

    border: 1px solid var(--gray-dark);

    border-radius: 10px;
}

.botao-voltar {
    position: absolute;

    top: 20px;
    left: 0;

    font-size: 26px;
    font-weight: 500;

    color: var(--primary);

    display: flex;
    align-items: center;

    transition: all 0.2s;
}

.botao-voltar:hover {
    opacity: 0.8;
}

.botao-voltar img {
    margin-right: 5px;
}

.form-erro {
    margin-bottom: 20px;

    padding: 30px 70px;

    width: 100%;
    max-width: 1187px;

    font-weight: 500;

    color: #9e001e;

    background: #ffcccc;

    border: 1px solid #9e001e;
    border-radius: 50px;

    box-shadow: var(--shadow);
}
.field-erro{
    margin: 10px;

    font-weight: 500;

    color: #9e001e;
}

.logo {
    font-size: 60px;
    text-decoration: none;
    color: var(--primary);
}