@import url("./components/navbar.css");
@import url("./components/listaProfissionais.css");

.home-container {
    padding-bottom: 80px;
}

.hero-container {
    font-size: 64px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px auto 30px auto;
    width: 95%;
}

.hero-container img {
    border-radius: 8px;
}

.hero-container p {
    max-width: 500px;
    font-weight: 500;
    margin-right: 15px;
}

.filtro {
    margin-bottom: 54px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.campo {
    padding: 0 21px;

    height: 58px;
}

.botao-filtrar {
    width: 220px;
    height: 58px;

    font-size: 28px;

    color: var(--white);

    background: var(--degrade);

    border: 0;

    border-radius: 15px;

    box-shadow: var(--shadow);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.2s;
}

.botao-filtrar:hover {
    opacity: 0.8;
}

.profissionais-container {
    width: 90%;
    margin: 0 auto 0 auto;
}