<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{login.title}"> | Excellent Voyage</title>
    <link rel="stylesheet" th:href="@{/styles/global.css}" />
    <link rel="stylesheet" th:href="@{styles/login.css}" />
    <!-- script para get usuario logado-->

</head>
<body>

    <div class="login-container box">
        <a class="botao-voltar" href="javascript:history.go(-1)"><img th:src="@{/image/icons/arrow-left.svg}" /><p th:text="#{cadastro.voltar}"><p></a>
        <span class="logo">LIFE CARE</span>
      
        <form class="form-login" th:action="@{/login}" method="POST">
            <div th:if="${param.error}">
				<div class="form-erro">
					<span th:text="#{login.error}"></span>
				</div>
			</div>
            <h1 th:text="#{login.title}"> </h1>
            <input type="text" id="username" name="username" class="campo" th:placeholder="#{login.email}"/>
            <input type="password" id="password" name="password" class="campo" th:placeholder="#{login.senha}" />
            <input type="submit" id ="login-submit" name="login-submit" th:value="#{login.botao}"/>
            <a th:href="@{/cadastro}" th:text="#{cadastro.title}"></a>
        </form>
    </div>

</body>
</html>