.navbar-container {
    margin: 20px auto 0 auto;

    width: 88%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-container .right-side {
    font-size: 36px;

    display: flex;
    align-items: center;
}

.navbar-container .right-side .botao-login {
    color: var(--secundary);
}

.navbar-container .right-side .botao-login:hover {
    text-decoration: underline !important;
}

.navbar-container .right-side .botao-cadastro {
    margin-left: 60px;

    width: 236px;
    height: 70px;

    color: var(--white);

    background: var(--degrade);

    border-radius: 15px;

    box-shadow: var(--shadow);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.2s;
}

.navbar-container .right-side .botao-cadastro:hover {
    opacity: 0.8;
}

.navbar-container .right-side .botao-logado {
    color: var(--primary);

    display: flex;
    align-items: center;
}

.navbar-container .right-side .botao-logado img {
    margin-right: 16px;
}

.navbar-container .right-side .botao-logado:hover {
    text-decoration: underline !important;
}

.botao-logado + .botao-logado {
    margin-left: 64px;
}

.logo {
    font-size: 60px;
    text-decoration: none;
    color: var(--primary);
}